<div class="col-xs-12">
    <div v-show="errors.length" class="alert alert-danger alert-dismissible">
        <h4><i class="icon fa fa-ban"></i> 错误</h4>
        <p v-for="error in errors">
            * {{error}}
        </p>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>名称</label>
                        <input name="name" class="form-control" autocomplete="false" type="text" v-model="el.name" placeholder="名称">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>描述</label>
                        <textarea class="form-control" autocomplete="false" type="text" v-model="el.description" placeholder="描述"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <button type="button" class="btn btn-default btn-sm" @@click="create()">提交</button>
            <a class="btn btn-default btn-sm" href="/role">取消</a>
        </div>
    </div>
    <!-- /.box -->
</div>

@section scripts{
    <environment names="Development">
        <script src="~/js/createRole.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/createRole.min.js" asp-append-version="true"></script>
    </environment>
}