<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>名称</label>
                        <input class="form-control" type="text" v-model="name" placeholder="名称">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>描述</label>
                        <textarea class="form-control" type="text" v-model="description" placeholder="描述"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <button type="button" class="btn btn-default btn-sm" @@click="update()">保存</button>
            <a class="btn btn-default btn-sm" href="/role">取消</a>
        </div>
    </div>
    <!-- /.box -->
</div>

@section scripts{
    <environment names="Development">
        <script src="~/js/updateRole.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/updateRole.min.js" asp-append-version="true"></script>
    </environment>
}