<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        权限管理
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="/"><i class="fa fa-dashboard"></i>首页</a>
        </li>
        <li class="active">权限管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="col-xs-12">
        <div class="box" id="view">
            <div class="box-header">
                <div class="box-title">
                    <a class="btn btn-default" href="/permission/create">创建</a>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>编号</th>
                        <th>权限</th>
                        <th>描述</th>
                        <th>操作</th>
                    </tr>
                    <tr v-for="el in els">
                        <td>
                            <span v-text="el.id"></span>
                        </td>
                        <td>
                            <span v-text="el.name"></span>
                        </td>
                        <td>
                            <span v-text="el.description"></span>
                        </td>
                        <td>
                            <a class="btn btn-default btn-sm" :href="'/permission/' + el.id + '/edit'">编辑</a>
                            <a class="btn btn-default btn-sm" @@click="remove(el.id)">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul id="pagination" v-show="total>size" class="pagination pagination-sm no-margin pull-left">
                </ul>
            </div>
        </div>
        <!-- /.box -->
    </div>
</section>
<!-- /.content -->
@section scripts{
    <script src="~/js/permission.js" asp-append-version="true"></script>
}