<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <div class="box-title">
                <div class="input-group input-group-sm" style="width: 200px;">
                    <input type="text" class="form-control pull-right" placeholder="Search" v-model="q">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-sm" @@click="search()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-tools" style="padding: 5px">
                <a class="btn btn-default btn-sm" href="/user/create">创建</a>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>姓名</th>
                    <th>角色</th>
                    <th>电话</th>
                    <th>已删除</th>
                    <th>操作</th>
                </tr>
                <tr v-show="els.length==0">
                    <td colspan="7">
                        没有查到符合条件的记录
                    </td>
                </tr>
                <tr v-for="el in els">
                    <td>
                        <span v-text="el.userName"></span>
                    </td>
                    <td>
                        <span v-text="el.email"></span>
                    </td>
                    <td>
                        <span v-text="(el.firstName ? el.firstName : '') + ' ' + (el.lastName ? el.lastName : '')"></span>
                    </td>
                    <td>
                        <span v-text="el.roles"></span>
                    </td>
                    <td>
                        <span v-text="el.phoneNumber"></span>
                    </td>
                    <td>
                        <span v-text="el.isDeleted"></span>
                    </td>
                    <td>
                        <a class="btn btn-default btn-sm" :href="'/user/' + el.id + '/edit'">查看</a>
                        <a class="btn btn-default btn-sm" @@click="remove(el.id)" v-if="el.userName != 'admin' && !el.isDeleted">删除</a>
                        <a class="btn btn-default btn-sm" :href="'/user/' + el.id + '/permission'" v-if="el.userName != 'admin' && !el.isDeleted">权限</a>
                        <a class="btn btn-default btn-sm" :href="'/user/' + el.id + '/role'" v-if="el.userName != 'admin' && !el.isDeleted">角色</a>
                        <a class="btn btn-default btn-sm" :href="'/user/' +el.id + '/changepassword'" v-if="el.userName != 'admin' && !el.isDeleted">更新密码</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix no-border">
            <ul id="pagination" v-show="total>size" class="pagination pagination-sm no-margin pull-left">
            </ul>
        </div>
    </div>
    <!-- /.box -->
</div>

@section scripts{
    <environment names="Development">
        <script src="~/js/user.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/user.min.js" asp-append-version="true"></script>
    </environment>
}