<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" type="text" v-model="el.name" placeholder="Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>DisplayName</label>
                        <input class="form-control" type="text" v-model="el.displayName" placeholder="DisplayName">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Enabled</label>
                        <select id="enabled" class="form-control select2" style="width: 100%;">
                            <option selected="selected" value="True">True</option>
                            <option value="False">False</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" type="text" v-model="el.description" placeholder="Description">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Claims<small class="text-muted"> 以 ; 分隔</small></label>
                        <input class="form-control" type="text" v-model="el.userClaims" placeholder="Claims">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <button type="button" class="btn btn-default btn-sm" @@click="create()">提交</button>
            <a class="btn btn-default btn-sm" href="/apiResource">取消</a>
        </div>
    </div>
    <!-- /.box -->
</div>

@section scripts{
    <environment names="Development">
        <script src="~/js/createApiResource.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/createApiResource.min.js" asp-append-version="true"></script>
    </environment>
}