<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <div class="box-title">
                <a class="btn btn-default btn-sm" href="/apiResource/create">创建 API 资源</a>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>名称</th>
                    <th>显示名称</th>
                    <th>启用</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
                <tr v-show="els.length==0">
                    <td colspan="13">
                        没有数据
                    </td>
                </tr>
                <tr v-for="el in els">
                    <td>
                        <span v-text="el.name"></span>
                    </td>
                    <td>
                        <span v-text="el.displayName"></span>
                    </td>
                    <td>
                        <span v-text="el.enabled"></span>
                    </td>
                    <td>
                        <span v-text="el.description"></span>
                    </td>
                    <td>
                        <a class="btn btn-default btn-sm" @@click="remove(el.id)">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul id="pagination" v-show="total>size" class="pagination pagination-sm no-margin pull-left">
            </ul>
        </div>
    </div>
    <!-- /.box -->
</div>

@section scripts{
    <environment names="Development">
        <script src="~/js/apiResource.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/apiResource.min.js" asp-append-version="true"></script>
    </environment>
}